@import url('https://fonts.googleapis.com/css2?family=Outfit&Noto+Sans+Display:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
    --text-primary: #f0fafa;
    --text-secondary: #a5cac9;
    --bg-primary: #1c3030;
    --bg-secondary: #26403f;
    --accent: #F4BB44;
    --accent-dark: #F2AD18;
}

html:focus-within {
    scroll-behavior: smooth;
}

p {
    font-size: 1.125rem;
}

img {
  border-radius: .5rem;
  filter: brightness(.8) saturate(1.25);
  transition: filter .3s ease;
}

img:hover {
    filter: none;
}

.sb-component-header {
    padding-bottom: 1.5rem;
}

.sb-component-button-primary:hover {
    background-color: var(--accent-dark);
}

.sb-component-button-secondary {
    background-color: var(--bg-secondary);
}

.sb-component-button-secondary:hover {
    background-color: transparent;
}

.sb-component-social {
    color: var(--text-secondary);
}

.sb-component-social:hover {
    color: var(--text-primary);
}

.sb-component-link {
    color: var(--text-secondary);
}

.sb-component-link:hover {
    color: var(--text-primary);
}

time[data-sb-field-path = "date"] {
    color: var(--text-secondary);
}

body {
    padding: 0 1rem;
}

#featured-posts h2,
#featured-posts p {
    text-align: left;
}

#newsletter-cta {
    scroll-margin-top: 2ex;
}

#newsletter-cta h2,
#newsletter-cta p,
#newsletter-cta input > label {
    text-align: left;
}

#newsletter-cta > div {
    margin-top: 10rem;
}

.sb-post-layout > article {
    background-color: var(--bg-secondary);
    border-radius: .5rem;
    color: var(--text-primary);
    /* margin: 48px 16px 32px 16px; */
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 32px;
    max-width: 1080px;
    padding: 36px;
}

.sb-post-layout > div[data-sb-field-path="bottomSections"] > div{
    background-color: var(--bg-primary);
}

.sb-post-layout > div[data-sb-field-path="bottomSections"] > div > div > div > div> article{
    background-color: var(--bg-secondary);
}

.sb-post-layout > div[data-sb-field-path="bottomSections"] > div > div > div > div> article > a > div > div > div > h3{
    color: var(--text-primary);
}

/* .sb-component-cta-section > div{
    background: var(--bg-secondary);
    color: var(--text-primary);
} */

#revue-embed form div label {
    color: var(--text-secondary);
}

pre {
    background-color: var(--bg-primary);
}

code {
    background-color: var(--bg-primary);
    padding: .15rem;
}

img {
    margin: 0 auto;
}

#main article > div > div {
    overflow: auto;
}

#revue-embed form div input {
  border-radius: 0.5rem;
  border: none;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  padding: 2rem;
  font-size: inherit;
  color: var(--bg-primary);
  background-color: var(--text-secondary);
  width: 100%;
}

#revue-embed form div #member_submit {
  background-color: var(--accent);
  border-radius: 5em;
  color: var(--bg-primary);
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  padding: 0;
  padding: 0.75em 1.5em;
}

#revue-embed form div #member_submit:hover {
  background-color: var(--accent-dark);
}

#revue-embed .revue-form-footer > p {
  line-height: 1;
}

#revue-embed .revue-form-footer > p > small {
  line-height: 1;
}

#revue-embed .revue-form-footer > p > small > a {
    text-decoration: underline;
}

.light-font {
    color: var(--text-secondary);
}

@layer base {
    body {
        @apply bg-main text-base;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply break-words;
        line-height: 1.15;
    }
}

nav > Link {
    color: red;
}

@layer components {
    .sb-component.overlap {
        @apply -mt-72 relative z-10;
    }
    .sb-markdown {
        @apply leading-relaxed;
        a {
            @apply underline;
        }
        a:hover {
            @apply no-underline;
        }
        b,
        strong {
            @apply font-bold;
        }
        em {
            @apply italic;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 2.5rem 0 1.5rem;
        }
        p {
            margin: 1.5rem 0;
        }
        ol {
            @apply list-decimal;
            margin: 1.5rem 0;
            padding-left: 1.25em;
        }
        ul {
            @apply list-disc;
            margin: 1.5rem 0;
            padding-left: 1.25em;
        }
        li > ul,
        li > ol {
            margin: 0;
        }
        blockquote {
            @apply border-l-4 border-current;
            font-size: 1.25em;
            line-height: 1.4;
            margin: 2.5rem 0;
            padding-left: 1.25em;
        }
        pre {
            @apply border border-current overflow-x-auto leading-normal;
            font-size: 0.875em;
            margin: 1.5rem 0;
            padding: 1.25em;
        }
        hr {
            @apply bg-current border-0 h-px;
            margin: 2.5rem 0;
        }
        figure {
            margin: 1.5rem 0;
        }
        figcaption {
            @apply leading-normal;
            font-size: 0.875em;
            margin: 0.5rem 0 0;
        }
        table {
            @apply border border-current border-collapse text-left w-full;
            margin: 1.5rem 0;
        }
        caption {
            @apply text-left;
            font-size: 0.875em;
            margin: 0 0 0.5rem;
        }
        th,
        td {
            @apply border-r border-b border-current;
            padding: 0.5em;
        }
        th {
            font-weight: bold;
        }
        h1:first-child,
        h2:first-child,
        h3:first-child,
        h4:first-child,
        h5:first-child,
        h6:first-child,
        p:first-child,
        ul:first-child,
        ol:first-child,
        blockquote:first-child,
        pre:first-child,
        hr:first-child,
        figure:first-child,
        table:first-child {
            margin-top: 0;
        }
        h1 + h2,
        h2 + h3,
        h3 + h4,
        h4 + h5,
        h5 + h6 {
            margin-top: 1.5rem;
        }
    }

    /* Buttons */
    .sb-component-button {
        @apply border-2 inline-flex items-center justify-center no-underline text-center transition duration-200 ease-in;
    }

    /* Links */
    .sb-component-link {
        @apply inline-flex items-center justify-center no-underline relative;
    }
    .sb-component-link:after {
        @apply bg-current absolute left-0;
        bottom: -2px;
        content: '';
        height: 2px;
        width: 0;
        transition: width 0.2s ease-in;
    }
    .sb-component-link:hover:after {
        @apply w-full;
    }

    /* Socials */
    .sb-component-social {
        @apply inline-flex items-center justify-center no-underline transition duration-200 ease-in;
    }

    .sb-component-social-primary,
    .sb-component-social-secondary {
        @apply border-2 rounded-full p-2;
    }

    /* Dividers */
    .sb-divider {
        @apply flex items-center h-4 before:flex-grow before:h-px before:bg-current;
    }

    /* Badge */
    .sb-component-badge {
        @apply uppercase tracking-wider text-primary;
    }

    /* Featured items */
    .sb-component-item-hover {
        @apply transition duration-200 ease-in;
    }

    /* Form controls */
    .sb-label {
        @apply inline-block mb-1;
    }
    .sb-input,
    .sb-select,
    .sb-textarea {
        @apply bg-transparent border border-current px-3 w-full focus:outline-none;
    }
    .sb-input,
    .sb-select {
        @apply py-0;
        height: 3.125rem;
    }
    .sb-textarea {
        @apply py-3;
    }
    .sb-component-form-block .sb-component-button {
        @apply px-8 py-0;
        height: 3.125rem;
    }
    option {
        color: initial;
    }
    .sb-checkbox {
        @apply appearance-none absolute select-none opacity-0;
        height: 1.5em;
        width: 1.5em;
    }
    .sb-checkbox + .sb-label {
        @apply cursor-pointer pl-8 relative;
    }
    .sb-checkbox + .sb-label:before {
        @apply absolute left-0 top-1/2 transform -translate-y-1/2 border border-current cursor-pointer text-center;
        content: '';
        height: 1.5em;
        width: 1.5em;
        line-height: 1.5em;
    }
    .sb-checkbox:checked + .sb-label:before {
        content: '\2713';
    }
    .sb-select {
        @apply appearance-none bg-no-repeat cursor-pointer pr-7;
        background-image: linear-gradient(45deg, transparent 50%, currentColor 0), linear-gradient(135deg, currentColor 50%, transparent 0);
        background-position: calc(100% - 18px) calc(1px + 50%), calc(100% - 12px) calc(1px + 50%);
        background-size: 6px 6px, 6px 6px;
        background-repeat: no-repeat;
    }

    /* Cards */
    .sb-card {
        @apply border border-current;
    }

    /* Sections */
    .sb-component-hero-section .sb-component-image-block[src*='.jpg'],
    .sb-component-feature-highlight-section .sb-component-image-block[src*='.jpg'],
    .sb-component-media-gallery-section .sb-component-image-block[src*='.jpg'] {
        @apply rounded-2xl;
    }

    .text-center + .sb-contact-section-form,
    .sb-contact-section-form:only-child {
        text-align: center;
    }

    /* Color palettes */
    .colors-a {
        @apply bg-light text-on-light;
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply text-on-light placeholder-on-light placeholder-opacity-75;
        }
        .sb-component-button-primary,
        .sb-component-social-primary {
            @apply bg-primary border-primary text-on-primary;
        }
        .sb-component-button-secondary,
        .sb-component-social-secondary {
            @apply border-dark text-dark;
        }
        .sb-component-item-hover {
            @apply hover:bg-primary hover:text-on-primary;
        }
    }
    .colors-b {
        @apply bg-light text-primary;
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply text-primary placeholder-primary placeholder-opacity-75;
        }
        .sb-component-button-primary,
        .sb-component-social-primary {
            @apply bg-primary border-primary text-on-primary;
        }
        .sb-component-button-secondary,
        .sb-component-social-secondary {
            @apply border-dark text-dark;
        }
        .sb-card {
            @apply bg-dark bg-opacity-5;
        }
        .sb-component-item-hover {
            @apply hover:bg-primary hover:text-on-primary;
        }
    }
    .colors-c {
        @apply bg-dark text-on-dark;
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply text-on-dark placeholder-on-dark placeholder-opacity-75;
        }
        .sb-component-button-primary,
        .sb-component-social-primary {
            @apply bg-primary border-primary text-on-primary;
        }
        .sb-component-button-secondary,
        .sb-component-social-secondary {
            @apply border-on-dark text-on-dark;
        }
        .sb-card {
            @apply bg-light text-on-light;
        }
        .sb-component-item-hover {
            @apply hover:bg-light hover:text-on-light;
        }
    }
    .colors-d {
        @apply bg-dark text-primary;
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply text-primary placeholder-primary placeholder-opacity-75;
        }
        .sb-component-button-primary,
        .sb-component-social-primary {
            @apply bg-primary border-primary text-on-primary;
        }
        .sb-component-button-secondary,
        .sb-component-social-secondary {
            @apply border-on-dark text-on-dark;
        }
        .sb-card {
            @apply bg-light;
        }
        .sb-component-item-hover {
            @apply hover:bg-light hover:text-primary;
        }
    }
    .colors-e {
        @apply bg-primary text-on-primary;
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply text-on-primary placeholder-on-primary placeholder-opacity-75;
        }
        .sb-component-button-primary,
        .sb-component-social-primary {
            @apply bg-dark border-dark text-on-dark;
        }
        .sb-component-button-secondary,
        .sb-component-social-secondary {
            @apply border-on-primary text-on-primary;
        }
        .sb-component-badge {
            @apply text-on-primary;
        }
        .sb-card {
            @apply bg-light text-on-light;
        }
        .sb-component-item-hover {
            @apply hover:bg-light hover:text-on-light;
        }
    }
    .colors-f {
        @apply bg-secondary text-on-secondary;
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply text-on-secondary placeholder-on-secondary placeholder-opacity-75;
        }
        .sb-component-button-primary,
        .sb-component-social-primary {
            @apply bg-primary border-primary text-on-primary;
        }
        .sb-component-button-secondary,
        .sb-component-social-secondary {
            @apply border-light text-light;
        }
        .sb-card {
            @apply bg-light text-on-light;
        }
        .sb-component-item-hover {
            @apply hover:bg-primary hover:text-light;
        }
    }
    .colors-g {
        @apply bg-secondary text-primary;
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply text-primary placeholder-primary placeholder-opacity-75;
        }
        .sb-component-button-primary,
        .sb-component-social-primary {
            @apply bg-primary border-primary text-on-primary;
        }
        .sb-component-button-secondary,
        .sb-component-social-secondary {
            @apply border-dark text-dark;
        }
        .sb-card {
            @apply bg-light;
        }
        .sb-component-item-hover {
            @apply hover:bg-primary hover:text-light;
        }
    }
    .colors-h {
        @apply bg-complementary text-on-complementary;
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply text-on-complementary placeholder-on-complementary placeholder-opacity-75;
        }
        .sb-component-button-primary,
        .sb-component-social-primary {
            @apply bg-dark border-dark text-on-dark;
        }
        .sb-component-button-secondary,
        .sb-component-social-secondary {
            @apply border-dark text-dark;
        }
        .sb-card {
            @apply bg-light text-on-light;
        }
        .sb-component-item-hover {
            @apply hover:bg-primary hover:text-light;
        }
    }
}

@media (prefers-reduced-motion: reduce) {

  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media only screen and (max-width: 862px) {
    h1 {
        font-size: 1.802rem !important;
    }

    h2 {
        font-size: 1.602rem !important;
    }

    h3 {
        font-size: 1.424rem !important;
    }
}

@media only screen and (min-width: 863px) {
    :root {
        font-size: 18px;
    }

    h1 {
        font-size: 1.802rem;
    }

    h2 {
        font-size: 1.602rem;
    }

    h3 {
        font-size: 1.424rem;
    }
    #revue-embed form div input {
        width: 65%;
    }
    #revue-embed form div #member_submit {
        width: 50%;
    }
}